html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
#sdr-container {
    background-color:$light-gray;
    overflow: hidden;
    display: flex;
    width: 500px;
    height: 400px;

    nav {
        position: relative;
        background-color: $medium-gray;
        height:100%;

        > label {
            display: block;
            background-color: $dark-gray;
            width: 75px;
            margin: 5px 0 5px 10px;
            padding: 5px 10px 5px 5px;
            margin-bottom: 5px;
            text-align: right;
            border: 1px solid $very-dark-gray;
            border-right-width: 0;
            cursor: pointer;

            &.active {
                background-color: $light-gray;
            }
        }

        section {
            background-color: #bababa;
            border: 1px solid $very-dark-gray;
            border-left-width: 0;
            box-sizing: border-box;
            position: absolute;
            bottom: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .led {
                width: 16px;
                height: 16px;
                border-radius: 10px;
                border: 2px solid $dark-gray;

                &.green {
                    background: $light-green;
                    background: radial-gradient(circle, $light-green 30%, $dark-green 100%);
                }

                &.red {
                    background: $light-red;
                    background: radial-gradient(circle, $light-red 30%, $dark-red 100%);
                }
            }
        }
    }

    section {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: inherit;

        h1 {
            font-size: 18px;
            margin: 5px 0 10px 0;
            text-align: center;
        }

        h2 {
            font-size: 14px;
            margin: 5px 0 10px 0;
            text-align: center;
        }

        .pane {
            height: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;

            &.hidden {
                display: none;
            }
        }

        textarea {
            height: 50%;
            margin-bottom: 15px;
            resize: none;
        }

        #sdr-encrypt-pane div,
        #sdr-decrypt-pane div {
            margin-bottom: 10px;
        }

        #sdr-encrypt-pane button,
        #sdr-decrypt-pane button,
        #sdr-generate-pane button,
        #sdr-import-pane button {
            width: 100px;
            padding: 5px;
            border-radius: 5px;
            display: block;
            margin: 0 auto;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}
